@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}

.body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900;
    overflow: hidden;
}

.header {
    background-color: #34BB66;
    height: 50px;
    width: 100%;
    margin-top: 0px;
}

#notif {
    height: 18px;
    float: right;
    margin-top: 15px;
    margin-right: 3%;
}

.page-title {
    text-align: center;
    vertical-align: middle;
}

#pin-location {
    height: 25px;
    margin-right: 5px;
    display: inline-block;
    margin-top: -5px;
}

#header-text {
    margin-top: 11px;
    display: inline-block;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    /*text-align:center;*/
}

#back {
    height: 20px;
    float: left;
    margin-top: 20px;
    margin-left: 3%;
}

.content {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    max-height: 80%;
    overflow:auto;
    padding-bottom: 10%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.form-label {
    height: auto;
    width: 35;
    margin-left: -50%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#activity-type, #title-text, #location-text, #people, #validity {
    width: 90%;
    height: 5%;
    margin-bottom: 20px;
    margin-left: -10%;
    border: none;
    border-bottom: solid 2px #34BB66;
}

#activity-type {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#date-from, #time-from  {
    width: 43%;
    height: 5%;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid 2px #34BB66;
}

#date-to, #time-to, #time-validity, #date-validity {
    width: 43%;
    height: 5%;
    margin-bottom: 20px;
    /*margin-left: -10%;*/
    border: none;
    border-bottom: solid 2px #34BB66;
}

#time-from, #time-to, #time-validity {
    margin-left: 3.7%;
}

.btn {
    background-color: #34BB66;
    color: #ffffff;
    box-sizing: border-box;
    line-height: 2;
}

.btn:hover {
    background-color: none;
    color: #ffffff;
    box-sizing: border-box;
}

#img-btn {
    height: 4%;
    width: 50%;
    line-height: 1;

}

#nxt-btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 100px;
}

.fa-chevron-right {
    margin-left: 10%;
    font-size: 12px;
    font-weight: 100;
}

.activity-image {
    background-color: #d3d3d3;
    width: 100%;
    height: 166px;
    /*border: solid 1px #000000;*/
    margin-bottom: 20px;
}

.login {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1 {
    font-size: 60px;
    color: #34BB66;
    font-weight: 700;
}

.fb-btn {
    background-color: #3b5998;
    width: 80%;
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: 300;
}

.google-btn {
    background-color: #d62d20;
    width: 80%;
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: 300;
}

.fa-facebook-official, .fa-google {
    margin-right: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-right: 10px;
    border-top: solid 1px #d3d3d3;
    background-color: #ffffff;
}

.footer img {
    height: 18px;
}

.footer ul {
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3px;
}

.footer ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.footer ul:before {
    content: '';
    display: block;
}

.footer ul>li {
    display: inline;
}

.centered {
    text-align: center;
}

.justify {
    text-align: justify;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.launch {
    background-color: #34BB66;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    text-decoration: none;
}

/*#chart div {
  display: inline-block;
  background: #4285F4;
  width: 20px;
  margin-right: 3px;
}
circle {
  fill: #4A988A;
}
text {
  font-family: "Open Sans";
  text-anchor: middle;
  color: rgb(34,​ 34,​ 34);
  font-size: 12px;
}
label {
  margin:0 0 10px;
}
.lead {
  margin-bottom:20px;
  font-size:16px;
  font-weight:300;
  line-height:1.4
}*/
