@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}

.body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900;
    overflow: hidden;
}

.header {
    background-color: #34BB66;
    height: 60px;
    width: 100%;
    margin-top: 0px;
}

#notif {
    height: 20px;
    float: right;
    margin-top: 20px;
    margin-right: 3%;
}

.page-title {
    text-align: center;
    vertical-align: middle;
}

#pin-location {
    height: 25px;
    margin-right: 5px;
    display: inline-block;
    margin-top: -5px;
}

#header-text {
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

#back {
    height: 20px;
    float: left;
    margin-top: 20px;
    margin-left: 3%;
}

.content {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    max-height: 80%;
    overflow:auto;
}

.content img {
    height: 25px;
    width: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    border-top: solid 1px #d3d3d3;
    background-color: #ffffff;
}

.footer img {
    height: 20px;
  /*display: inline-block;*/
}

.footer ul {
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3px;
}

.footer ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.footer ul:before {
    content: '';
    display: block;
}

.footer ul>li {
    display: inline;
}

.centered {
    text-align: center;
}

.justify {
    text-align: justify;
}

.launch {
    background-color: #34BB66;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    text-decoration: none;
}

/*#chart div {
  display: inline-block;
  background: #4285F4;
  width: 20px;
  margin-right: 3px;
}
circle {
  fill: #4A988A;
}
text {
  font-family: "Open Sans";
  text-anchor: middle;
  color: rgb(34,​ 34,​ 34);
  font-size: 12px;
}
label {
  margin:0 0 10px;
}
.lead {
  margin-bottom:20px;
  font-size:16px;
  font-weight:300;
  line-height:1.4
}*/
