.body {
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: #34BB66;
  height: 60px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.footer img {
  margin-top: 50px;
  margin-left: 50px;
}

#chart div {
  display: inline-block;
  background: #4285F4;
  width: 20px;
  margin-right: 3px;
}
circle {
  fill: #4A988A;
}
text {
  font-family: "Open Sans";
  text-anchor: middle;
  color: rgb(34,​ 34,​ 34);
  font-size: 12px;
}
label {
  margin:0 0 10px;
}
.lead {
  margin-bottom:20px;
  font-size:16px;
  font-weight:300;
  line-height:1.4
}
