{% extends "base.html" %}
{% block headerimg %}
{% endblock %}
{% block content %}
    <div class="content">
        <form class="activity-form" action="#" method="post">
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="../static/img/activity.svg">
                </div>
                <div class="col-8">
                    <select id="activity-type" name="activity">
                        <option value="">Choose activity type</option>
                        <option value="">Local Tours</option>
                        <option value="">Adventure</option>
                        <option value="">Food</option>
                        <option value="">Camping</option>
                        <option value="">Trekking</option>
                        <option value="">Movies/Plays</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="../static/img/title.svg">
                </div>
                <div class="col-8">
                    <input class="form-field" type="text" placeholder="Add Title">
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="../static/img/pin-dgrey.svg">
                </div>
                <div class="col-8">
                    <input class="form-field" type="text" placeholder="Add Location">
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img id="time-label" class="form-label" src="../static/img/time.svg">
                </div>
                <div class="col-5">
                    <input id="date-from" type="date" placeholder="dd/mm/yyyy">
                </div>
                <div class="col-3">
                    <input id="time-from" type="time" placeholder="hh:mm AM/PM">
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-5">
                    <input id="date-to" type="date" placeholder="dd/mm/yyyy">
                </div>
                <div class="col-3">
                    <input id="time-to" type="time" placeholder="hh:mm AM/PM">
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="../static/img/group.svg">
                </div>
                <div class="col-8">
                    <input class="form-field" type="number" placeholder="Enter Number of People">
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="../static/img/hour-glass.svg">
                </div>
                <div class="col-5">
                    <input id="date-validity" type="date" placeholder="dd/mm/yyyy">
                </div>
                <div class="col-3">
                    <input id="time-validity" type="time" placeholder="hh:mm AM/PM">
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="../static/img/upload.svg">
                </div>
                <div class="col-5">
                    <a href="#" class="btn sec-btn" id="add_images" type="button">Add Images</a>
                </div>
            </div>
            <div class="row centered">
                <a href="create-preview.html" class="btn submit-btn" type="button">Next<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
        </form>
    </div>
{% endblock %}
{% block messages %}
<!--<a href="create"><img src="../static/img/messages-green.svg"></a>-->
{% endblock %}