{% extends "base.html" %}
{% block headerimg %}
{% endblock %}
{% block content %}
    <div class="content">
        <form class="activity-form" action="{{ url_for('create') }}" method="post" name="create">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="{{url_for('static', filename='img/activity.svg')}}">
                </div>
                <div class="col-8">
                    {{ form.activity_type(class_="form-field") }}
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="{{url_for('static', filename='img/title.svg')}}">
                </div>
                <div class="col-8">
                    {{ form.title(class_="form-field") }}
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="{{url_for('static', filename='img/pin-dgrey.svg')}}">
                </div>
                <div class="col-8">
                    {{ form.location(class_="form-field") }}
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="{{url_for('static', filename='img/time.svg')}}">
                </div>
                <div class="col-5">
                    {{ form.date_from(class_="date-time-from") }}
                </div>
                <div class="col-3">
                    {{ form.time_from(class_="date-time-from") }}
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-5">
                    {{ form.date_to(class_="date-time-to") }}
                </div>
                <div class="col-3">
                    {{ form.time_to(class_="date-time-to") }}
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="{{url_for('static', filename='img/group.svg')}}">
                </div>
                <div class="col-8">
                    {{ form.people_count(class_="form-field") }}
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="{{url_for('static', filename='img/hour-glass.svg')}}">
                </div>
                <div class="col-5">
                    {{ form.valid_date(class_="date-time-valid") }}
                </div>
                <div class="col-3">
                    {{ form.valid_time(class_="date-time-valid") }}
                </div>
            </div>
            <!-- <div class="row">
                <div class="offset-1 col-2 right">
                    <img class="form-label" src="../static/img/upload.svg">
                </div>
                <div class="col-5">
                    <a href="#" class="btn sec-btn" id="add_images" type="button">Add Images</a>
                </div>
            </div> -->
            <div class="row centered">
                <input class="btn submit-btn" type="submit" value="Create">
            </div>
        </form>
    </div>
{% endblock %}
{% block create %}
{% endblock %}
