{% extends "base.html" %}
{% block headerimg %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="top-nav">
            <a href="profile"><button>My Profile</button></a>
            <a href="interested"><button>Interested</button></a>
            <a href="history"><button class="active-btn">History</button></a>
        </div>
       <div class="row">
            <div class="col-12 centered">
                <p id="timeline">Nov 2017</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <a href="activity-detail.html">
              <div class="card img-fluid">
                <div class="default-card food"></div>
                <div class="card-img-overlay">
                    <h4 class="card-heading">Food</h4>
                    <img class="icon-top-right-interested" src="../static/img/heart-white.svg" alt="heart">
                    <ul class="card-overlay-details">
                        <li>
                            <img src=../static/img/profile.svg alt="profile">
                            <p>Ling Zhong</p>
                        </li>
                        <li class="group">
                            <img src=../static/img/group-white.svg alt="profile">
                            <p>2</p>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="centered">
                        <li class="centered">
                            <img src=../static/img/calendar.svg alt="calendar">
                            <p>3 Nov, 2017</p>
                        </li>
                        <li class="centered">
                            <img src=../static/img/time.svg alt="time">
                            <p>12 PM</p>
                        </li>
                    </ul>
                  </div>
              </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="activitydetail">
              <div class="card img-fluid">
                <div class="default-card adv"></div>
                <div class="card-img-overlay">
                    <h4 class="card-heading">Adventures</h4>
                    <img class="icon-top-right-interested" src="../static/img/heart-white.svg" alt="heart">
                    <ul class="card-overlay-details">
                        <li>
                            <img src=../static/img/profile.svg alt="profile">
                            <p>Ling Zhong</p>
                        </li>
                        <li class="group">
                            <img src=../static/img/group-white.svg alt="profile">
                            <p>2</p>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="centered">
                        <li class="centered">
                            <img src=../static/img/calendar.svg alt="calendar">
                            <p>3 Nov, 2017</p>
                        </li>
                        <li class="centered">
                            <img src=../static/img/time.svg alt="time">
                            <p>12 PM</p>
                        </li>
                    </ul>
                  </div>
              </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 centered">
                <p id="timeline">Oct 2017</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <a href="activitydetail">
                    <div class="card img-fluid">
                <div class="default-card sports"></div>
                <div class="card-img-overlay">
                    <h4 class="card-heading">Sports</h4>
                    <img class="icon-top-right-interested" src="../static/img/heart-white.svg" alt="heart">
                    <ul class="card-overlay-details">
                        <li>
                            <img src=../static/img/profile.svg alt="profile">
                            <p>Ling Zhong</p>
                        </li>
                        <li class="group">
                            <img src=../static/img/group-white.svg alt="profile">
                            <p>2</p>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="centered">
                        <li class="centered">
                            <img src=../static/img/calendar.svg alt="calendar">
                            <p>3 Nov, 2017</p>
                        </li>
                        <li class="centered">
                            <img src=../static/img/time.svg alt="time">
                            <p>12 PM</p>
                        </li>
                    </ul>
                  </div>
              </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="activitydetail">
                    <div class="card img-fluid">
                <div class="default-card movie"></div>
                <div class="card-img-overlay">
                    <h4 class="card-heading">Movies</h4>
                    <img class="icon-top-right-interested" src="../static/img/heart-white.svg" alt="heart">
                    <ul class="card-overlay-details">
                        <li>
                            <img src=../static/img/profile.svg alt="profile">
                            <p>Ling Zhong</p>
                        </li>
                        <li class="group">
                            <img src=../static/img/group-white.svg alt="profile">
                            <p>2</p>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="centered">
                        <li class="centered">
                            <img src=../static/img/calendar.svg alt="calendar">
                            <p>3 Nov, 2017</p>
                        </li>
                        <li class="centered">
                            <img src=../static/img/time.svg alt="time">
                            <p>12 PM</p>
                        </li>
                    </ul>
                  </div>
              </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="activitydetail">
                    <div class="card img-fluid">
                <div class="default-card camping"></div>
                <div class="card-img-overlay">
                    <h4 class="card-heading">Camping</h4>
                    <img class="icon-top-right-interested" src="../static/img/heart-white.svg" alt="heart">
                    <ul class="card-overlay-details">
                        <li>
                            <img src=../static/img/profile.svg alt="profile">
                            <p>Ling Zhong</p>
                        </li>
                        <li class="group">
                            <img src=../static/img/group-white.svg alt="profile">
                            <p>2</p>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="centered">
                        <li class="centered">
                            <img src=../static/img/calendar.svg alt="calendar">
                            <p>3 Nov, 2017</p>
                        </li>
                        <li class="centered">
                            <img src=../static/img/time.svg alt="time">
                            <p>12 PM</p>
                        </li>
                    </ul>
                  </div>
              </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 centered">
                <p id="timeline">Sept 2017</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <a href="activitydetail">
                    <div class="card img-fluid">
                <div class="default-card trekking"></div>
                <div class="card-img-overlay">
                    <h4 class="card-heading">Trekking</h4>
                    <img class="icon-top-right-interested" src="../static/img/heart-white.svg" alt="heart">
                    <ul class="card-overlay-details">
                        <li>
                            <img src=../static/img/profile.svg alt="profile">
                            <p>Ling Zhong</p>
                        </li>
                        <li class="group">
                            <img src=../static/img/group-white.svg alt="profile">
                            <p>2</p>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="centered">
                        <li class="centered">
                            <img src=../static/img/calendar.svg alt="calendar">
                            <p>3 Nov, 2017</p>
                        </li>
                        <li class="centered">
                            <img src=../static/img/time.svg alt="time">
                            <p>12 PM</p>
                        </li>
                    </ul>
                  </div>
              </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <a href="activitydetail">
                    <div class="card img-fluid">
                <div class="default-card tour"></div>
                <div class="card-img-overlay">
                    <h4 class="card-heading">Tours</h4>
                    <img class="icon-top-right-interested" src="../static/img/heart-white.svg" alt="heart">
                    <ul class="card-overlay-details">
                        <li>
                            <img src=../static/img/profile.svg alt="profile">
                            <p>Ling Zhong</p>
                        </li>
                        <li class="group">
                            <img src=../static/img/group-white.svg alt="profile">
                            <p>2</p>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="centered">
                        <li class="centered">
                            <img src=../static/img/calendar.svg alt="calendar">
                            <p>3 Nov, 2017</p>
                        </li>
                        <li class="centered">
                            <img src=../static/img/time.svg alt="time">
                            <p>12 PM</p>
                        </li>
                    </ul>
                  </div>
              </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block history %}
<a href="history"><img src="../static/../static/img/profile-green.svg"></a>
{% endblock %}
