{% extends "base.html" %}
{% block headerimg %}
<img id="pin-location" src="{{url_for('static', filename='img/pin.svg')}}">
{% endblock %}
<div class="content">
    {% block content %}
        <div class="overlay-btn">
            <a href="create"><img src="{{url_for('static', filename='img/create-activity.svg')}}" alt="create activity"></a>
        </div>   
    {%endblock %}
</div>
{% block home %}
<a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/home-green.svg')}}"></a>
{% endblock %}
