{% extends "base.html" %}
{% block headerimg %}
<img id="pin-location" src="{{url_for('static', filename='img/pin.svg')}}">
{% endblock %}
<div class="content">
    {% block content %}
    <div class="home-top-nav">
        <a href="#collapseExample" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample"><button class="active-btn" id="categoryName">Popular</button></a>
    </div>
    <div class="collapse" id="collapseExample">
        <div class="container home-nav-container">
            <button class="btn home-btn">Popular</button>
            <button class="btn home-btn">Near Me</button>
            <button class="btn home-btn">Expiring</button>
            <button class="btn home-btn" id="localtours-filter">Local Tours</button>
            <button class="btn home-btn" id="adventure-filter">Adventure</button>
            <button class="btn home-btn" id="food-filter">Food</button>
            <button class="btn home-btn" id="treks-filter">Treks</button>
            <button class="btn home-btn" id="camping-filter">Camping</button>
            <button class="btn home-btn" id="movie-filter">Movies</button>
            <button class="btn home-btn" id="sports-filter">Sports</button>
            <button class="btn home-btn">Suggested</button>
            <button class="btn home-btn" id="all-filter">All</button>
        </div>
    </div>
    <div class="row">
        {% for card in cardData %}
        <div class="col-12 col-md-6 col-lg-4 {{card.card_activity_type}}-filter">
            <a href="{{url_for('activitydetail', id=card.card_id)}}">
                <div class="card img-fluid">
                    <div class="default-card {{card.card_activity_type}}">
                    </div>
                    <div class="card-img-overlay">
                        <h4 class="card-heading">{{card.card_title}}</h4>
                        <img class="icon-top-right" src="{{url_for('static', filename='img/heart-white.svg')}}" alt="heart">
                        <ul class="card-overlay-details">
                            <li>
                                <img src="{{url_for('static', filename='img/profile.svg')}}" alt="profile">
                                <p>{{card.card_host_id}}</p>
                            </li>
                            <li class="group">
                                <img src="{{url_for('static', filename='img/group-white.svg')}}" alt="profile">
                                <p>{{card.card_people_count}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <ul class="centered">
                            <li class="centered">
                                <img src="{{url_for('static', filename='img/calendar.svg')}}" alt="calendar">
                                <p>{{card.card_date_from}}</p>
                            </li>
                            <li class="centered">
                                <img src="{{url_for('static', filename='img/hour-glass.svg')}}" alt="hourglass">
                                <p>{{card.card_valid_time}}</p>
                            </li>
                            <li class="centered">
                                <img src="{{url_for('static', filename='img/time.svg')}}" alt="time">
                                <p>{{card.card_time_from}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="overlay-btn">
        <a href="create"><img src="{{url_for('static', filename='img/create-activity.svg')}}" alt="create activity"></a>
    </div> 
    {%endblock %}
</div>
{% block home %}
<a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/home-green.svg')}}"></a>
{% endblock %}
