{% extends "mylogin.html" %}
{% block headerimg %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6 offset-3 centered">
            <br><br>
            <h3>Socialize - Login and Meet new folk around you</h3>
            <h4>Discover. Explore. Experience.</h4>        
        </div>
    </div>
    <div class="row">
        <div class="col-9 centered">
            <img src="../static/img/socialize-cover.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-4 right">
        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h6>Hi, {{ current_user.username }}!</h6>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
            <br><br>
            <h6>You need to login to explore the awesomeness hidden in our app! Duh, login now!</h6>
            <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}"><button class="btn fb-btn"><i class="fa fa-facebook-official"></i>Sign in with Facebook</button></a>
            </p>
        </div>
    </div>
        {% endif %}
{% endblock %}
{% block home %}
<a href="index"><img src="../static/img/home-lgrey.svg"></a>
{% endblock %}
