{% extends "base.html" %}
{% block headerimg %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="top-nav">
            <a href="profile"><button class="active-btn">My Profile</button></a>
            <a href="interested"><button>Interested</button></a>
            <a href="history"><button>History</button></a>
        </div>
        <div class="row">
            <div class="offset-4 col-4 centered">
                <img class="profile-pic" src="../static/img/person.svg">
            </div>
            <div class="col-4 left">
                <a href="editprofile"><img class="pic-edit" src="../static/img/pic-edit.svg"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-3 right">
                <img class="profile-label" src="../static/img/name.svg">
            </div>
            <div class="col-9">
                <p class="profile-text">Purva Sane</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 right">
                <img class="profile-label" src="../static/img/cake.svg">
            </div>
            <div class="col-7">
                <p class="profile-text">August 12, 1992</p>
            </div>
            <div class="col-2">
                <img class="profile-label" src="../static/img/hide.svg" style="width:25px">
            </div>
        </div>
        <div class="row">
            <div class="col-3 right">
                <img class="profile-label" src="../static/img/pin-dgrey.svg">
            </div>
            <div class="col-9">
                <p class="profile-text">Ann Arbor</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 right">
                <img class="profile-label" src="../static/img/interests.svg">
            </div>
            <div class="col-9">
                <p class="profile-text">Interests</p>
            </div>
            <div class="offset-3 col-9">
                <p class="p-interests food">Food</p>
                <p class="p-interests trekking">Trekking</p>
                <p class="p-interests adv">Adventure</p>
                <p class="p-interests food">Food</p>
                <p class="p-interests trekking">Trekking</p>
                <p class="p-interests adv">Adventure</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 right">
                <img class="profile-label" src="../static/img/badge.svg">
            </div>
            <div class="col-9">
                <p class="profile-text">Badges</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-9">
                <div class="badge-container justify">
                    <div class="col-auto badges">
                        <img src="../static/img/badge-adventurous.svg">
                        <p class="count">3</p>
                    </div>
                    <div class="col-auto badges">
                        <img src="../static/img/badge-cool.svg">
                        <p class="count">8</p>
                    </div>
                    <div class="col-auto badges">
                        <img src="../static/img/badge-fun.svg">
                        <p class="count">4</p>
                    </div>
                    <div class="col-auto badges">
                        <img src="../static/img/badge-healthconscious.svg">
                        <p class="count">2</p>
                    </div>
                    <div class="col-auto badges">
                        <img src="../static/img/badge-globetrotter.svg">
                        <p class="count">9</p>
                    </div>
                    <div class="col-auto badges">
                        <img src="../static/img/badge-ecofriendly.svg">
                        <p class="count">6</p>
                    </div>
                    <div class="col-auto badges">
                        <img src="../static/img/badge-listener.svg">
                        <p class="count">3</p>
                    </div>
                    <div class="col-auto badges">
                        <img src="../static/img/badge-punctual.svg">
                        <p class="count">5</p>
                    </div>
                    <div class="col-auto badges">
                        <img src="../static/img/badge-socialbutterfly.svg">
                        <p class="count">7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block profile %}
<a href="profile"><img src="../static/../static/img/profile-green.svg"></a>
{% endblock %}
