{% extends "base.html" %}
{% block headerimg %}
{% endblock %}
{% block content %}
<div class="content">
    <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <a href="{{url_for('activitydetail',id=1)}}">
            <div class="card img-fluid">
                <div class="default-card food"></div>
                <div class="card-img-overlay">
                    <h4 class="card-heading">Lunch @ Zingermann's</h4>
                    <img class="icon-top-right" src="{{url_for('static', filename='img/heart-white.svg')}}" alt="heart">
                    <ul class="card-overlay-details">
                        <li>
                            <img src="{{url_for('static', filename='img/profile.svg')}}" alt="profile">
                            <p>Ling Zhong</p>
                        </li>
                        <li class="group">
                            <img src="{{url_for('static', filename='img/group-white.svg')}}" alt="profile">
                            <p>2</p>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="centered">
                        <li class="centered">
                            <img src="{{url_for('static', filename='img/calendar.svg')}}" alt="calendar">
                            <p>3 Nov, 2017</p>
                        </li>
                        <li class="centered">
                            <img src="{{url_for('static', filename='img/hour-glass.svg')}}" alt="hourglass">
                            <p>8 hrs</p>
                        </li>
                        <li class="centered">
                            <img src="{{url_for('static', filename='img/time.svg')}}" alt="time">
                            <p>12 PM</p>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    </div>
    <div class="row">
            <div class="col-12 col-md-6 col-lg-4 review">
            	<p class="give_badge">Give a badge?</p>
            	<img src="{{url_for('static', filename='img/ling.png')}}" alt="profile">
            	<p class="review_username">Casey Lin</p>
            </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 container_badges">
        <div class="badge-list-selected">
            <img class="badge-list-selected-img" src="{{url_for('static', filename='img/badge-socialbutterfly.svg')}}" alt="social">
            <img class="checked" src="{{url_for('static', filename='img/checked.png')}}" alt="checked">
            <p class="badge_name_selected">Social Butterfly</p>
        </div>
        <div class="badge-list">
            <img src="{{url_for('static', filename='img/badge-adventurous.svg')}}" alt="adventurous">
            <p class="badge_name">Adventur<br>-ous</p>
        </div>
        <div class="badge-list">
            <img src="{{url_for('static', filename='img/badge-healthconscious.svg')}}" alt="healthy">
            <p class="badge_name">Health Conscious</p>
        </div>
        <div class="badge-list">
            <img src="{{url_for('static', filename='img/badge-fun.svg')}}" alt="fun">
            <p class="badge_name">Fun</p>
        </div>
        </div>
    </div>
    <div class="row">
            <a href="{{url_for('index')}}" class="btn submit-btn" type="button">Submit</a>
    </div>
</div>
{% endblock %}
{% block review %}
<a href="index"><img src="{{url_for('static', filename='img/profile-green.svg')}}"></a>
{% endblock %}

