{% extends "base.html" %}
{% block headerimg %}
{% endblock %}
{% block content %}
    <div class="settings-container">
        <div class="help">
            <img src="{{url_for('static', filename='img/help.svg')}}">
            <p>Help and Support</p>
        </div>
        <div class="privacy">
            <img src="{{url_for('static', filename='img/padlock.svg')}}">
            <p>Privacy Policy</p>
        </div>
        <a href="{{ url_for('logout') }}">
            <div class="logout">
                <p>Logout</p>
            </div>
        </a>
    </div>
{% endblock %}
{% block settings %}
<a href="settings"><img src="{{url_for('static', filename='img/settings-green.svg')}}"></a>
{% endblock %}
