{% extends "base.html" %}
{% block headerimg %}
<!-- <img id="pin-location" src="../static/img/pin.svg"> -->
{% endblock %}
{% block content %}
    <div class="settings-container">
        <div class="help">
            <img src="../static/img/help.svg">
            <p>Help and Support</p>
        </div>
        <div class="privacy">
            <img src="../static/img/padlock.svg">
            <p>Privacy Policy</p>
        </div>
        <div class="logout">
             <p>Log Out</p>
        </div>
    </div>
{% endblock %}
{% block settings %}
<a href="settings"><img src="../static/img/settings-green.svg"></a>
{% endblock %}
