@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}

.body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif !important;
    font-weight: 900;
    overflow: hidden;
}

.header {
    /*background-color: #34BB66;*/
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    margin-top: 0px;
    border-bottom: solid 2px #d3d3d3;
    /*box-shadow: 20px 20px 20px 20px  #424242;*/
    position: sticky;
    top: 0;
    z-index: 99;
}

#notif {
    height: 18px;
    float: right;
    margin-top: 15px;
    margin-right: 3%;
}

.page-title {
    text-align: center;
    vertical-align: middle;
}

#pin-location {
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    margin-top: -5px;
}

#header-text {
    margin-top: 13px;
    display: inline-block;
    color: #424242;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.back {
    height: 20px;
    float: left;
    margin-top: 15px;
    margin-left: 3%;
}

.content {
    margin-bottom: 10%;
    max-height: 100%;
    overflow:auto;
    padding-bottom: 10%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.login_page {
    margin-bottom: 10%;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 10%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.white {
    margin-top: 20px;
    color: white;
}

.logo {
    height: 40px;
    width: auto;
    margin-top: 150px;
}

.activity-form, .profile-form {
    margin-top: 45px;
    font-size: 16px;
}

.form-label {
    height: auto;
    width: 35px;
    margin-top: 5%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#activity-type, .form-field {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border: none;
    border-bottom: solid 2px #34BB66;
}

#activity-type {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.date-time-from  {
    height: 35px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid 2px #34BB66;
}

.date-time-to, .date-time-valid {
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: solid 2px #34BB66;
}

.btn {
    background-color: #34BB66;
    color: #ffffff;
    box-sizing: border-box;
    line-height: 2;
}

.btn:hover {
    background-color: none;
    color: #ffffff;
    box-sizing: border-box;
}

.fa-chevron-right {
    margin-left: 10%;
    font-size: 12px;
    font-weight: 100;
}

.activity-image {
    background-color: #d3d3d3;
    width: 100%;
    height: 166px;
    /*border: solid 1px #000000;*/
    margin-bottom: 20px;
}

.login {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1 {
    font-size: 60px;
    color: #34BB66;
    font-weight: 700;
}

.fb-btn {
    background-color: #3b5998;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    white-space: normal;
    margin-bottom: 20px;
}

.fa-facebook-official, .fa-google {
    margin-right: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-right: 10px;
    border-top: solid 1px #d3d3d3;
    background-color: #ffffff;
}

.footer img {
    height: 20px;
}

.footer ul {
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
    /*padding-top: 3px;*/
}

.footer ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.footer ul:before {
    content: '';
    display: block;
}

.footer ul>li {
    display: inline;
}

.centered {
    text-align: center;
    color: #000;
    text-decoration: none;
}

.justify {
    text-align: justify;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.launch {
    background-color: #34BB66;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    text-decoration: none !important;
}

/*.row {
    margin-left: 0;
    margin-right: 0;
}*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.card:hover {
    text-decoration: none;
}

.card a{
    text-decoration: none;
}

.card ul{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card ul>li{
    display: inline;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.card p{
    display: inline;
}

.card li>img {
    height: 20px;
    margin: 2px;
}

.img {
    width: 100%;
    height: auto;
}

.default-card{
    height: 175px;
    width: auto;
    opacity: 0.8;
}

.tour{
    background: #A8C8DA;
}

.food{
    background: #FCD049;
}

.adv{
    background: #FA9FA4;
}

.sports{
    background: #B3DFF5;
}

.movie{
    background: #F07077;
}

.camping{
    background: #F3EA94;
}

.trekking{
    background: #CAE4D3;
}

.card-overlay-details{
    padding-top: 70px;
}

.card .card-overlay-details img{
    height: 24px;
    padding-right: 5px;
}

.card .card-overlay-details p{
    display: inline;
    font-size: 18px;
}

.card .card-overlay-details li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
}

.card-overlay-details .group {
    float: right;
}

.icon-top-right{
    height: 20px;
    margin-top: 1%;
    float:right;
    opacity: 0.6;
}

.icon-top-right-interested{
    height: 20px;
    margin-top: 1%;
    float:right;
}

.card-heading {
    display: inline;
    color: #ffffff;
}

.home-top-nav {
    width: 100%;
    height: 45px;;
    margin-bottom: 5%;
    position: sticky;
    top: 50;
    z-index: 99;
}

.home-top-nav button {
    height: 100%;
    background-color: #ffffff;
    padding: 10px 24px;
    color: #000000;
    border: none;
    border-right: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
    font-size: 16px;
    width: 100%;
}

.home-top-nav .active-btn {
    border-bottom: solid 2px #34BB66;
    font-family: "Lato", sans-serif;
}

.home-btn {
    margin: 1%;
    border-radius: 30px;
    font-family: "Lato", sans-serif;
}

.home-nav-container{
    background-color: #fff;
    border-bottom: solid 1px #d3d3d3;
    padding: 2%;
}

.overlay-btn{
    width: 60px;
    height: auto;
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

.activity-label-right {
    width: auto;
    height: 35px;
    margin-bottom: 15px;
}

.activity-text-right {
    display: inline;
}

.activity-label {
    width: 35px;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

.host-img {
    width: 45px;
    height: auto;
    margin-bottom: 15px;
}

.host-name {
    display: block;
    font-size: 14px;
    color: #757575;
}



.activity-text {
    padding-top: 5px;
    padding-left: 10px;
}

.location-text {
    padding-top: 5px;
    padding-left: 10px;
    text-overflow: ellipsis;
}

.activity-details{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

.activity-badges {
    display: inline-block;
    margin-right: 15px;
}

.activity-badges img {
    width: 40px;
}

/*---------------------- Ling ----------------------------*/

.settings-container {
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
}

.settings-container img {
    width: 35px;
    display: inline-block;
}

.help {
    height: 70px;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-size:16px ;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.privacy {
    height: 70px;
    border-top: thin solid #E8E8E8;
    background-color: white;
    font-family: "Lato", sans-serif;
    font-size:16px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.logout {
    height: 70px;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.help p {
    padding-left: 5%;
    display: inline-block;
}

.privacy p {
    padding-left: 5%;
    display: inline;
}

.logout p {
    color: red;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-size:16px ;
}

.logout p > a {
    color: red;
    /*text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-size:16px ;*/
}

.notif-container {
    background-color: #F8F8F8;
    height: 100%;
}

.notif-container img {
    width: 11%;
    display: inline-block;
}

.person1 {
    background-color: white;
    font-family: lato;
    font-size:16px ;
    margin-top: 3%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.person2 {
    border-top: thin solid #E8E8E8;
    background-color: white;
    font-family: lato;
    font-size:16px;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.person3 {
    border-top: thin solid #E8E8E8;
    background-color: white;
    font-family: lato;
    font-size:16px;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.notif-title {
    padding-left: 5%;
    display: inline-block;
    width: 75%;
}

.notif-host {
    font-family: lato;
    font-size:14px;
    color: grey;
    padding-left: 17%;
}

.notif-time {
    display: inline-block;
    font-size:14px;
    color: grey;
    width: 10%;
}

.review p {
    text-align:center;
}

.review img {    
    display: block;
    margin: 0 auto;
    width: 15%;
}

.give_badge {
    font-size: 5vw;
}


.container_badges {
    margin-top: 3%;

}

.badge-list  {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-left: 2%;
}

.badge-list img {
    width: 65%;
    display: block;
    margin: 0 auto;
    opacity: 0.25;
}

.badge-list-selected {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 1%;
    position:relative;
}

.badge-list-selected-img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.badge-list p {
    text-align: center;
    line-height: 5vw;
    opacity: 0.25;
}

.badge-list-selected p {
    text-align: center;
    line-height: 5vw;
    font-size: 5vw;
}

.checked{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20%;
}


























/***********************************************Purva***********************************************/
.top-nav {
    width: 100%;
    height: 45px;;
    margin-bottom: 20px;
    /*position: sticky;
    top: 0;
    z-index: 99;*/
}

.top-nav button {
    height: 100%;
    background-color: #ffffff;
    float: left;
    padding: 10px 24px;
    color: #000000;
    border: none;
    border-right: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
    width: 33.3%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

.top-nav .active-btn {
    border-bottom: solid 2px #34BB66;
}

.profile-pic {
    width: auto;
    max-width: 150px;
    clear: both;
    margin-bottom: 40px;
}

.pic-edit {
    width: 100%;
    max-width: 35px;
    margin-right: 30px;
}

.profile-label {
    width: 35px;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

.profile-text {
    padding-top: 5px;
}

.p-interests {
    display: inline-block;
    width: auto;
    border-radius: 25px;
    padding: 10px 20px;
    color: #ffffff;
    margin-right: 3%;
    margin-bottom: 20px;
}

.badge-container {
    margin-right: 30px;
}

.badges {
    display: inline-grid;
    margin-right: 10px;
    margin-left: 5px;
}

.badges img {
    width: 100%;
    min-width: 35px;
    max-width: 40px;
}

.count {
    display: block;
    padding-top: 5px;
    font-size: 16px;
    color: #757575;
    text-align: center;
}

.profile-field {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border: none;
    border-bottom: solid 2px #34BB66;
}

/*secondary buttons*/
.sec-btn {
    min-height: 35px;
    max-height: 100%;
    width: auto;
    line-height: 1;
    white-space: normal;
    margin-bottom: 20px;
}

/*primary buttons - for form submit action*/
.submit-btn {
    position: absolute;
    bottom: 70px;
    left: 50%;
    width: 100px;
    margin-left:-50px;
}

.searchbar {
    width: 100%;
    height: 50px;
    border: solid 1px #d3d3d3;
    padding-left: 40px;
    font-size: 16px;
}

#search-back {
    height: 20px;
    position: fixed;
    top: 65px;
    left: 10px;
}

#search-mic {
    height: 20px;
    position: fixed;
    top: 65px;
    right: 10px;
}

.host-name-card {
    text-decoration: none;
}
